body {
    font-family: sans-serif;
    margin: 0;
}

.main-container {
    display: flex;
}

.column-small {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    background-color: lightblue;
}

.column-small > img {
    border-radius:50%;
    margin: 0 auto;
}

.column-large {
    display: flex;
    flex-direction: column;
    padding:80px 40px 0 50px;
    flex: 3;
    gap: 40vh;
}

.rows {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: bold;
}
